<ons-page ng-controller="AddQtyItemsController">

<ons-toolbar>
      <div class="left">
      <!-- <ons-toolbar-button  ng-click="orderNav.pushPage('home.html', { animation: 'slide' });">

         <!-- <ons-icon icon="fa-chevron-left" style="font-size: 32px; width: 1em"> 
        </ons-toolbar-button>-->
        
         <ons-back-button>Volver</ons-back-button>
      </div>
      <div class="center">Articulos</div>
       <div class="right">
 
        <ons-toolbar-button  ng-click="saveOrderLines();"><!--salesNavigator.pushPage('views/orders/newOrder.html', { animation: 'slide' },{ param1: 'value1', param2: 'value2' });-->
         Listo
        </ons-toolbar-button>

      </div>
    </ons-toolbar>

<br>






<ons-list class="items-list" modifier="inset">

<ons-list-item    ng-repeat="item in items"   >

  <ons-carousel swipeable style="height: 100px; width: 100%;" initial-index="10" auto-scroll>
          <ons-carousel-item class="list-action-menu" >
            <ons-button ng-click="items.splice($index, 1)" style="background-color:rgba(171, 38, 38, 0.81)">
              Eliminar
              <ons-icon icon="ion-trash-a">
            </ons-button>
          </ons-carousel-item>

<ons-carousel-item class="list-action-item">
<ons-row >
 <ons-col align="center">
<div style="text-align: center;">
  <span  ng-click="orderItemDetails($index,item);" style="color:blue;">{{item.itemCode}}</span>&nbsp-&nbsp
  <span ng-click="orderItemDetails($index,item);" style="color:black;">{{item.dscription}}</span>
</div>
</ons-col>
</ons-row>
<ons-row>

 <ons-col width="50px">

 <div>
 <!--<select >
        <option value="#">Unid</option>
        <option value="#">Caja</option>
        ng-click="increaseItem(item.itemCode);"
    </select>-->
  
  </div>
  </ons-col>
  <ons-col width="35px">
   <ons-button modifier="quiet"   ng-click="decreaseItem(item);">
  <ons-icon icon="fa-minus" style="font-size: 30px; width: 1em">
  </ons-button>
  </ons-col>


  <ons-col width="55px">
<div>

<input type="number" ng-model="item.quantity" ng-value="item.quantity" ng-init="item.quantity=item.quantity" style="width:51px;;min-height:1.75em;height:1.79em" text-align:"center;" ng-change="lineItemPrice(item);">
  
   </div>
     </ons-col >
     <ons-col width="35px">
<ons-button modifier="quiet" ng-click="increaseItem(item);"> 
  <ons-icon icon="fa-plus" style="font-size: 30px; width: 1em">
</ons-button>
     </ons-col>
   
<ons-col align="right">
<div style="text-align: right;">

 <span style="color:blue;">{{item.lineTotal | currency:"Bs. ":2}}</span>
</div>
</ons-col>
</ons-row>

          </ons-carousel-item>
        </ons-carousel>       
       
</ons-list-item>

</ons-list>


<br>

<div>
 <ons-list modifier="inset"> 
 
<ons-list-item >
<ons-row>
<ons-col>
<span style="color:blue" >Base Imponible:</span>
</ons-col>
<ons-col>
<input type="text" style="color:black" ng-model="baseImp" ng-value="{{getBaseImp()}}" class="text-input--transparent"   disabled="true">
</ons-col>
</ons-row>
</ons-list-item>
<ons-list-item >
 <span style="color:blue">% Descuento:</span>
</ons-list-item>
<ons-list-item >
 <span style="color:blue">Descuento:</span>
</ons-list-item>
<ons-list-item >
 <ons-row>
<ons-col>
<span style="color:blue" >Impuesto:</span>
</ons-col>
<ons-col>
<input type="text"  style="color:black"  ng-model="vatSum" class="text-input--transparent"   disabled="true">
</ons-col>
</ons-row>
</ons-list-item>
<ons-list-item >
  <ons-row>
<ons-col>
<span style="color:blue" >Total:</span>
</ons-col>
<ons-col>
<input type="text" style="color:black" ng-model="docTotal" class="text-input--transparent"   disabled="true">
</ons-col>
</ons-row>
</ons-list-item>
 </ons-list>
</div>


 <div style="text-align: center; line-height: 44px">
    
<ons-toolbar-button  ng-click="addMoreItems();"><!--salesNavigator.pushPage('views/orders/selectItems.html', { animation: 'slide' },{ param1: 'value1', param2: 'value2' });-->
         Agregar Articulos
        </ons-toolbar-button>

  </div>
<!--<ons-bottom-toolbar>
  <div style="text-align: center; line-height: 44px">
  	
<ons-toolbar-button  ng-click="salesNavigator.pushPage('views/orders/selectItems.html', { animation: 'slide' },{ param1: 'value1', param2: 'value2' });">
         Agregar Articulos
        </ons-toolbar-button>

  </div>
</ons-bottom-toolbar>-->

</ons-page>