<ons-page ng-controller="orderDetailsController">

<!-- Lista de pedidos con resumen y detalles -->
  <ons-toolbar>
      <div class="left"><ons-back-button>Volver</ons-back-button></div>
      <div class="center">Resumen</div>
  </ons-toolbar>

<!-- Buscador -->
  <div class="navigation-bar">
          <div class="navigation-bar__center">

            <!-- segment control -->
            <div class="button-bar" style="width:200px; margin:8px auto 0;">
              <div class="button-bar__item" ng-click="showOrderList();">
                  <input type="radio" name="navi-segment-a"  checked >
                  <div class="button-bar__button" >Resumen</div>
              </div>

              <div class="button-bar__item" ng-click="showOrderDetails();">
                  <input type="radio" name="navi-segment-a" >
                  <div class="button-bar__button">Detalle</div>
              </div>
            </div>

          </div>
</div>

<!-- List-->
 <div class="content" ng-show="list">       

    <ons-list class="order"  modifier="inset" style="margin-top: 10px" ng-controller="orderDetailsController" >
          <ons-list-item class="item">
              <ons-row>
                  <ons-col width="60px">
                      <div class="item-thum"></div>
                  </ons-col>
                  <ons-col>
                      <header>
                          <span class="item-title"></span>
                        
                      </header>
                      <p class="item-desc"> {{getParams().cardName}}</p>
                  </ons-col>
              </ons-row>
          </ons-list-item>

          <ons-list-item >
            <ons-row>
                 <span style="color:blue">Codigo del Articulo:</span>

            </ons-row>
            <ons-row>
                {{ getParams().cardCode }}
            </ons-row>
          </ons-list-item>

          <ons-list-item >
            <ons-row>
                 <span style="color:blue">Fecha:</span>

            </ons-row>
            <ons-row>
                {{ getParams().docDate }}
            </ons-row>
          </ons-list-item>

          <ons-list-item >
            <ons-row>
                 <span style="color:blue">Base Imponible:</span>

            </ons-row>
            <ons-row>
                {{ getParams().baseImp | currency:"Bs. ":2}}
            </ons-row>
          </ons-list-item>

          <ons-list-item >
            <ons-row>
                 <span style="color:blue">Impuesto:</span>

            </ons-row>
            <ons-row>
            
                {{ getParams().VatSum | currency:"Bs. ":2}}
            </ons-row>
          </ons-list-item>

          <ons-list-item >
            <ons-row>
                <span style="color:blue">Monto Total:</span>
                  
            </ons-row>
            <ons-row>
               {{ getParams().docTotal | currency:"Bs. ":2}}
            </ons-row>
          </ons-list-item>
    </ons-list>
  </div>


  <!-- Details-->
 <div class="content" ng-show="details"> 
 
     <div class="navigation-bar">
              <div class="navigation-bar__center">

                <input type="search" class="search-input" ng-model="query" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Buscar">

              </div>
     </div>

    <ons-list class="order-list" ng-controller="orderDetailsController" > 
       <ons-list-item class="orderLine" modifier="chevron" ng-repeat="orderLine in ordersLine | filter:query"  ng-click="showMoreDetails($index)" >

            <ons-row>
                <ons-col >
                    <span style="color:#4282cc">{{orderLine.dscription}} </span>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                  <span style="color:#4282cc"> Cantidad: </span>
                  <span style="color:black">  {{orderLine.quantity}} </span>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                  <span style="color:#4282cc"> Total: </span>
                  <span style="color:black">  {{orderLine.lineTotal | currency:"Bs. ":2}} </span>
                </ons-col>
            </ons-row>

        </ons-list-item>
      </ons-list>

 </div>

</ons-page>